
body{

    border: 3px solid rgb(75, 70, 70);
    margin: 5px;
    text-align: center;
}
div{
    border: 3px solid rgb(75, 70, 70);
    margin: 5px;
}
@font-face {
    font-family: 'GilbeotRainbow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/GilbeotRainbow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
div{font-family: 'GilbeotRainbow';}
div{font-size: xx-large;}
section{
    text-align: right;
}